<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recettes</title>
</head>
<body>
<h1>Liste des {{ kind }}s</h1>
<ul>
    {% for recipe in recipeList %}
        <li>
            <a href="{{ path('recipe_details', {'id': recipe.id}) }}">
                {{ recipe.title }}
            </a>
            (
                <a href="{{ path('recipe_by_kind', {'kind': recipe.kind}) }}">
                    {{ recipe.kind }}
                </a>
            )
            - {{ recipe.ingredients | length }} ingrédients
        </li>
    {% endfor %}
</ul>

</body>
</html>