{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} dans ma liste de recettes
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <style>
         body {
             color: blueviolet;
         }
     </style>

 {% endblock %}

{% block body %}
<h1>Liste des {{ kind }}s</h1>
<ul>
    {% for recipe in recipeList %}
        <li>
            <a href="{{ path('recipe_details', {'id': recipe.id}) }}">
                {{ recipe.title }}
            </a>
            (
                <a href="{{ path('recipe_by_kind', {'kind': recipe.kind}) }}">
                    {{ recipe.kind }}
                </a>
            )
            - {{ recipe.ingredients | length }} ingrédients
        </li>
    {% endfor %}
</ul>
{% endblock %}
